[submodule "vim/janus/gundo"]
	path = vim/janus/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/janus/tomorrow"]
	path = vim/janus/tomorrow
	url = https://github.com/ChrisKempson/Vim-Tomorrow-Theme.git
