[submodule "vim/janus_src/gundo"]
	path = vim/janus_src/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/janus_src/tomorrow"]
	path = vim/janus_src/tomorrow
	url = https://github.com/d11wtq/tomorrow-theme-vim.git
[submodule "vim/janus_src/hemisu"]
	path = vim/janus_src/hemisu
	url = https://github.com/noahfrederick/Hemisu.git
[submodule "vim/janus_src/vim-less"]
	path = vim/janus_src/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/janus_src/TuttiColori-Colorscheme"]
	path = vim/janus_src/TuttiColori-Colorscheme
	url = https://github.com/vim-scripts/TuttiColori-Colorscheme.git
[submodule "vim/janus_src/solarized"]
	path = vim/janus_src/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/janus_src/seoul256"]
	path = vim/janus_src/seoul256
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "vim/janus_src/tagbar"]
	path = vim/janus_src/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/janus_src/unite"]
	path = vim/janus_src/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "vim/janus_src/ag"]
	path = vim/janus_src/ag
	url = https://github.com/rking/ag.vim.git
[submodule "vim/janus_src/codeschool-vim-theme"]
	path = vim/janus_src/codeschool-vim-theme
	url = git@github.com:29decibel/codeschool-vim-theme.git
[submodule "vim/janus_src/base16-vim"]
	path = vim/janus_src/base16-vim
	url = git@github.com:chriskempson/base16-vim.git
