[submodule "vim/janus_src/gundo"]
	path = vim/janus_src/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/janus_src/tomorrow"]
	path = vim/janus_src/tomorrow
	url = https://github.com/ChrisKempson/Vim-Tomorrow-Theme.git
[submodule "vim/janus_src/hemisu"]
	path = vim/janus_src/hemisu
	url = https://github.com/noahfrederick/Hemisu.git
